In [195]:
import numpy as np
import pandas as pd
import time

Here are the lineups for the clash of the titans, the biggest cricket match of the year, the finals of Cricket World Cup 2003

In [65]:
ind = pd.Series(['Sachin Tendulkar','Virender Sehwag','Saurav Ganguly(c)','Mohammad Kaif','Rahul Dravid','Yuvraj Singh','Dinesh Mongia','Harbhajan Singh','Zaheer Khan','Javagal Srinath','Ashish Nehra'])
aus = pd.Series(['Adam Gilchrist','Matthew Hayden','Ricky Ponting(c)','Damien Martyn','Darren Lehmann','Michael Bevan','Andrew Symonds','Brad Hogg','Andy Bichel','Brett Lee','Glenn McGrath'])

# Important assumptions / notes : 
# 1) Strike rate(y) is assumed to increase with balls faced(x)
# 2) Score (y) is assumed to increase with Strike rate (x) 
# 3) Bowling abilities are taking out of consideration for simplicity

#Sources : howstat

Stuffs : 
1) Collect 22 players innings by innings stats until the CWC 2003 final - (R,S)

2) Store the data with appropriate labels in 22 separate CSV files - (R,S)

3) Import all 22 csv files assigned to a variable and clean the data - (R)

4) WAF to regress strike rate vs balls faced for one player 

5) WAF to regress score vs strike rate for one player

6) WAF to randomise 0,1 for the toss and 0,1 for batting/fielding

7) For the batting team both times,loop all players with functions 3 and 4 until 50 overs are up (or) 10 wickets are gone..refer the code you sent to rishaab for additional reference in putting criterion to regress function 3 (not cross 300 ball limit) and chasing target...the return values of both function should be score and balls faced ig

8) Put both scores and ball faced of all batsmen who played in a neat scorecard plus final score and wickets lost

9) Celebrate/mourn

In [106]:
#team india
filenames = ['i1.csv','i2.csv','i3.csv','i4.csv','i5.csv','i6.csv','i7.csv','i8.csv','i9.csv','i10.csv','i11.csv']
dataframes = []
for f in filenames:
    dataframes.append(pd.read_csv(f))
    
df_i = []
for i in dataframes:
    i= i[['Runs','B/F','S/R']]
    i= i[i['Runs'] != '-']
    i= i.dropna()
    
    for ind in i.index:
        if( (i['Runs'][ind]).isnumeric() == False):
            i['Runs'][ind] = i['Runs'][ind][:-1]
        if( (i['S/R'][ind]) == '-'):
            i['S/R'][ind] = 0
            
    df_i.append(i)

In [110]:
#team australia
filenames = ['a1.csv','a2.csv','a3.csv','a4.csv','a5.csv','a6.csv','a7.csv','a8.csv','a9.csv','a10.csv','a11.csv']
df = []
for f in filenames:
    df.append(pd.read_csv(f))
    
df_a = []
for i in df:
    i= i[['Runs','B/F','S/R']]
    i= i[i['Runs'] != '-']
    i= i.dropna()
    
    for ind in i.index:
        if( (i['Runs'][ind]).isnumeric() == False):
            i['Runs'][ind] = i['Runs'][ind][:-1]
        if( (i['S/R'][ind]) == '-'):
            i['S/R'][ind] = 0
            
    df_a.append(i)

In [184]:
df_i[0] #sachin

    Runs  B/F     S/R
0      0    2       0
1      0    2       0
2     36   39   92.31
3     10   12   83.33
4     20   25      80
..   ...  ...     ...
308   98   75  130.67
309    5   12   41.67
310   97  120   80.83
311   15   16   93.75
312   83  101   82.18

[304 rows x 3 columns]

In [199]:
def deliveries(a, bpi): #a is batsman stats,deliveries is deliveries faced by batsman, bpi is balls faced in the innings
    
    luck = np.random.choice(np.array(range[0:5]))  #bad,average,good,very good,excellent
    
    if(luck==0):
        ball = np.random.choice(np.array(range[0:10]))
    elif(luck==1):
        ball = np.random.choice(np.array(range[10:25]))
    elif(luck==2):
        ball = np.random.choice(np.array(range[25:60]))
    elif(luck==3):
        ball = np.random.choice(np.array(range[60:80]))
    elif(luck==4):
        ball = np.random.choice(np.array(range[80:150]))
    
    
    if((ball + bpi)>300):
        ball = 300 - bpi 
        out = False
    else:
        out = True

        
        
        
        
    return ball,out

In [171]:
#def stk_v_ball(a,bf)  a is batsman stats and bf is ball faced by batsman
#return stk

In [172]:
#def score_v_stk(a,stk) a is batsman stats and str is strike rate of batsman
#return score

In [201]:
def bat1(df):
    score = 0
    wickets = -1  #because while displaying scorecard, two people have to remain not out
    bpi = 0
    
    runs = []
    balls = []
    strike_rates= []
  
    while (wickets<10 or bpi<=300):  #5 overs is trial run....once completed make it 50    
        for i in df:
            ball,out = deliveries(i,bpi)
            stk = stk_v_ball(i,ball)
            i_score = score_v_stk(i,stk)
            
            runs.append(i_score)
            balls.append(ball)
            strike_rates.append(stk)
            
            runs = np.array(runs)
            balls = np.array(balls)
            strike_rates = np.array(strike_rates)
            
            bpi+= ball
            score+= i_score
            if(out==True):
                wickets+= 1            
            
    return score,runs,balls,strike_rate,wickets  #runs,balls,strike_rate is list and score,wickets is int

In [200]:
#batting second
def bat2(df,target):
    score = 0
    wickets = -1 #because while displaying scorecard, two people have to remain not out
    bpi = 0
    #inn_finish = False # this is a flag
    
    runs = []
    balls = []
    strike_rates= []
    
    
    while (wickets<10 and bpi<=300):  #5 overs is trial run....once completed make it 50    
        for i in df:
            ball,out = deliveries(i,bpi)
            stk = stk_v_ball(i,ball)
            i_score = score_v_stk(i,stk)
            
            runs.append(i_score)
            balls.append(ball)
            strike_rates.append(stk)
            
            runs = np.array(runs)
            balls = np.array(balls)
            strike_rates = np.array(strike_rates)
            
            bpi+= ball
            score+= i_score
            if(out==True):
                wickets+= 1
            
    return score,runs,balls,strike_rate,wickets  #runs,balls,strike_rate is list and score,wickets is int

In [185]:
#toss
toss = int(input("It's time for toss - choose heads(1) or tails(0)"))
toss_outcome = np.array([0,1])
if(np.random.choice(toss_outcome)==toss):
    choose = int(input("Congratulations Sourav, you have won the toss, what would you like to do? \nPress 1 to bat or 0 to bowl"))
    if choose==1 :
                 print("India has won the toss and chose to bat first on a flat track ") 
                 #india,ind_run,ind_balls,ind_st_rate,ind_wickets = bat1(df_i)
    else:
                 print("India has won the toss and chose to field first on an bright sunny day")
                 #australia,aus_run,aus_balls,aus_st_rate,aus_wickets = bat1(df_a)
else:
    if(np.random.choice(toss_outcome)==0):
                 print("Australia has won the toss and Ponting chose to bowl first")
                 #india,ind_run,ind_balls,ind_st_rate,ind_wickets = bat1(df_i)  
    else:
                 print("Australia has won the toss and have chosen to bat first on a flat track")
                 #australia,aus_run,aus_balls,aus_st_rate,aus_wickets = bat1(df_a)

It's time for toss - choose heads(1) or tails(0)1
Australia has won the toss and have chosen to bat first on a flat track

In [181]:
#if(india==0 and australia!=0):
#    india = bat2(df_i,australia)
#elif(australia==0 and india !=0):
#    australia = bat2(df_a,india)

In [194]:
#scorecard
#india_scorecard = pd.DataFrame([ind_run,ind_balls,ind_st_rates,index = ind])  #ig

In [188]:
#if(india>australia):
#    print("India has won the World Cup for their second time ever since 1983, beating the defending champions in style")
#elif(india<australia):
#    print("The World Cup is retained by the mighty Australians, and no one in the globe could challenge them enough")
#else:
#    print("I can't believe what we have witnessed! It's a tie! The World Cup is rightfully shared by the 2 mightiest teams in the world")