<a href="https://colab.research.google.com/github/im-rk19/India-vs-Australia-2003-World-Cup-Final/blob/master/India_vs_Australia_2003_World_Cup_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

#from gtts import gTTS #Import Google Text to Speech
#from IPython.display import Audio #Import Audio method from IPython's Display Class
#tts = gTTS('hello joyjit') #Provide the string to convert to speech
#tts.save('1.wav') #save the string converted to speech as a .wav file
#sound_file = '1.wav'
#Audio(sound_file, autoplay=True)

Here are the lineups for the clash of the titans, the biggest cricket match of the year, the finals of Cricket World Cup 2003

In [0]:
ind = pd.Series(['Sachin Tendulkar','Virender Sehwag','Saurav Ganguly(c)','Mohammad Kaif','Rahul Dravid','Yuvraj Singh','Dinesh Mongia','Harbhajan Singh','Zaheer Khan','Javagal Srinath','Ashish Nehra'])
aus = pd.Series(['Adam Gilchrist','Matthew Hayden','Ricky Ponting(c)','Damien Martyn','Darren Lehmann','Michael Bevan','Andrew Symonds','Brad Hogg','Andy Bichel','Brett Lee','Glenn McGrath'])

# Important assumptions / notes : 
# 1) Strike rate(y) is assumed to increase with balls faced(x)
# 2) Score (y) is assumed to increase with Strike rate (x) 
# 3) Bowling abilities are taking out of consideration for simplicity

#Sources : howstat

Stuffs : 
1) Collect 22 players innings by innings stats until the CWC 2003 final - (R,S)

2) Store the data with appropriate labels in 22 separate CSV files - (R,S)

3) Import all 22 csv files assigned to a variable and clean the data - (R)

4) WAF to regress strike rate vs balls faced for one player 

5) WAF to regress score vs strike rate for one player

6) WAF to randomise 0,1 for the toss and 0,1 for batting/fielding

7) For the batting team both times,loop all players with functions 3 and 4 until 50 overs are up (or) 10 wickets are gone..refer the code you sent to rishaab for additional reference in putting criterion to regress function 3 (not cross 300 ball limit) and chasing target...the return values of both function should be score and balls faced ig

8) Put both scores and ball faced of all batsmen who played in a neat scorecard plus final score and wickets lost

9) Celebrate/mourn

In [0]:
#team india
filenames = ['i1.csv','i2.csv','i3.csv','i4.csv','i5.csv','i6.csv','i7.csv','i8.csv','i9.csv','i10.csv','i11.csv']
dataframes = []
for f in filenames:
    dataframes.append(pd.read_csv(f))
    
df_i = []
for i in dataframes:
    i= i[['Runs','B/F','S/R']]
    i= i[i['Runs'] != '-']
    i= i.dropna()
    
    for ind in i.index:
        if( (i['Runs'][ind]).isnumeric() == False):
            i['Runs'][ind] = i['Runs'][ind][:-1]
        if( (i['S/R'][ind]) == '-'):
            i['S/R'][ind] = 0
            
    df_i.append(i)

In [0]:
#team australia
filenames = ['a1.csv','a2.csv','a3.csv','a4.csv','a5.csv','a6.csv','a7.csv','a8.csv','a9.csv','a10.csv','a11.csv']
df = []
for f in filenames:
    df.append(pd.read_csv(f))
    
df_a = []
for i in df:
    i= i[['Runs','B/F','S/R']]
    i= i[i['Runs'] != '-']
    i= i.dropna()
    
    for ind in i.index:
        if( (i['Runs'][ind]).isnumeric() == False):
            i['Runs'][ind] = i['Runs'][ind][:-1]
        if( (i['S/R'][ind]) == '-'):
            i['S/R'][ind] = 0
            
    df_a.append(i)

In [0]:
df_a[10]

    Runs B/F     S/R
0      0   1       0
4      4   6   66.67
5      4   8      50
7      5   3  166.67
9      0   0       0
11     0   9       0
13     0   0       0
17     0   1       0
19     1   2      50
27    10  12   83.33
33     0   3       0
34     1   1     100
38     1   1     100
39     0   0       0
45     0   0       0
52     8  12   66.67
54     0   3       0
57     1   5      20
59     8   4     200
61     0   0       0
62     1   4      25
63     0   2       0
68     1   5      20
69     0   0       0
74     1   1     100
78     1   2      50
79     2   5      40
88     0   2       0
94     0   1       0
96     2   3   66.67
98     1   3   33.33
101    0   5       0
105    0   0       0
114   11  24   45.83
117    0   0       0
119    0   0       0
120    0   1       0
121    6   8      75
128    1   1     100
130    0   2       0
132    0   1       0
140    7  12   58.33
141    1   3   33.33
144    6  13   46.15
152    0   2       0
154    1   1     100
155    3  10      30
162    0   1       0
175    3   2     150